<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Allow POST, GET, OPTIONS methods
  RewriteCond %{REQUEST_METHOD} !^(POST|GET|OPTIONS)$
  RewriteRule .* - [F,L]
</IfModule>

# Ensure PHP files are handled by the PHP interpreter
<FilesMatch "\.php$">
  SetHandler application/x-httpd-php
</FilesMatch>
